.header {
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 1.5rem 2.4rem;
  background-color: #087fd4;
  color: #eee;

  &__logo {
    font-size: 2.4rem;
    letter-spacing: 1px;

    a {
      color: inherit;
    }
  }

  &__auth-box {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      border: 1px solid #fff;
      background-color: transparent;

      &:hover {
        transform: translateY(-1px);
      }

      &:active {
        transform: translateY(0);
      }
    }
  }
}
