.input-group {
  margin-bottom: 1rem;

  input {
    &:not(:last-child) {
      margin-right: 0.4rem;
    }
  }
}

.auth-section {
  h3 {
    margin-bottom: 1rem;
  }
}

.auth-mode {
  display: inline-block;
  border-bottom: 1px solid #e67;
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.buttons {
  display: flex;
  gap: 0.8rem;
}
